#fp_wrapper {
  margin: 0 0 20px;
  display: none;
  overflow: hidden;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#fp_wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#fp_wrapper h3, #fp_wrapper h4, #fp_wrapper p, #fp_wrapper ul {
  margin: 0 0 1em;
}

#fp_displayOptions {
  padding: 10px;
  width: 20%;
  float: left;
}

#fp_colorList {
  padding: 0;
  list-style: none;
}
#fp_colorList li {
  margin: 0 5px 5px 0;
  width: 20px;
  float: left;
  border: 1px solid #eee;
}
#fp_colorList li a {
  display: block;
  height: 20px;
  overflow: hidden;
  text-indent: 20px;
}

.fp_color1 {
  background-color: #fbfbfb;
}

.fp_color2 {
  background-color: #d1774a;
}

.fp_color3 {
  background-color: #f5b589;
}

.fp_color4 {
  background-color: #315264;
}

.fp_color5 {
  background-color: #6b253a;
}

.fp_color6 {
  background-color: wheat;
}

.fp_color7 {
  background-color: #455d37;
}

.fp_color8 {
  background-color: #aaaaaa;
}

.fp_color9 {
  background-color: #7c1423;
}

.fp_color10 {
  background-color: #c92734;
}

.fp_color11 {
  background-color: #779fa5;
}

.fp_color12 {
  background-color: #a58055;
}

#fp_frames {
  padding: 0;
  list-style: none;
}
#fp_frames li {
  margin: 0 0 .5em;
}

#fp_wallContainer {
  float: left;
  padding: 40px 0;
  width: 80%;
}

#fp_frameContainer {
  margin: 0 auto;
  width: 640px;
  position: relative;
}
#fp_frameContainer div {
  position: absolute;
}
#fp_frameContainer img {
  padding: 20px;
  height: auto;
  width: 640px;
  display: block;
}

.fp_frame-tl {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.fp_frame-tm {
  top: 0;
  left: 20px;
  right: 20px;
  height: 20px;
}

.fp_frame-tr {
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
}

.fp_frame-mr {
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 20px;
}

.fp_frame-br {
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
}

.fp_frame-bm {
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 20px;
}

.fp_frame-bl {
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.fp_frame-ml {
  top: 20px;
  bottom: 20px;
  left: 0;
  width: 20px;
}

#fp_wrapper:before, #fp_colorList:before,
#fp_wrapper:after,
#fp_colorList:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

#fp_wrapper:after, #fp_colorList:after {
  clear: both;
}

.frame_none div {
  background: none;
}

.frame_oak div {
  background: red;
}

.frame_cherry div {
  background: yellow;
}
