/*! jquery frame previewer css */

// VARIABLES

// Number of colors - must match number passed to imagePreviewer
$fp_numberOfColors: 12;

// Color values
$fp_colorList:
  #fbfbfb, // 1 white
  #d1774a, // 2 orange
  #f5b589, // 3 peach
  #315264, // 4 bluegreen
  #6b253a, // 5 plum
  #f5deb3, // 6 wheat
  #455d37, // 7 dark olive green
  #aaaaaa, // 8 light grey
  #7c1423, // 9 maroon
  #c92734, // 10 red
  #779fa5, // 11 light blue
  #a58055; // 12 dark khaki

// Width of frame
$fp_frameWidth: 26px;

// Number representing max width of large image in pixels
$fp_imageMaxWidth: 600;


// Media query mixin
@mixin mq($maxValue) {
  @media (max-width: $maxValue) { @content; }
}


// Clearfix placeholder
%clearfix:before,
%clearfix:after {
    content: " ";
    display: table;
}

%clearfix:after {
    clear: both;
}

#fp_wrapper {
  @extend %clearfix;
  margin: 0 0 $fp_frameWidth;
  display: none;
  overflow: hidden;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0,0,0, .2);

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  h3, h4, p, ul {
    margin: 0 0 1em;
  }
}

#fp_displayOptions {
  padding: 10px;
  width: 20%;
  float: left;

  @include mq(800px) {
    width: 100%;
  }
}

// List of color options.

#fp_colorList {
  @extend %clearfix;
  padding: 0;
  list-style: none;

  li {
    margin: 0 5px 5px 0;
    width: 20px;
    float: left;
    border: 1px solid #eee;

    a {
      display: block;
      height: 20px;
      
      overflow: hidden;
      text-indent: -5em;

      @include mq(500px) {
        height: 40px;
      }
    }
  }
}

/*! Assign our wall colors to their list number */

@for $i from 1 through $fp_numberOfColors {
  .fp_color#{$i} {
    background-color: nth($fp_colorList, $i);
  }
}
/*! end assignment */

// List of frame options.

#fp_frames {
  padding: 0;
  list-style: none;

  li {
    margin: 0 0 .5em;
  }
}

// The container that holds the image.

#fp_wallContainer {
  float: left;
  padding: $fp_frameWidth * 2 0;
  width: 80%;
  -webkit-transition: background .3s ease-in;
          transition: background .3s ease-in;

  @include mq(800px) {
    width: 100%;
  }  
}

// The frame that overlays on the image.

#fp_frameContainer {
  margin: 0 auto;
  width: 96%;
  max-width: $fp_imageMaxWidth + ($fp_frameWidth * 2);
  position: relative;

  div {
    position: absolute;
  }

  img {
    padding: $fp_frameWidth;
    height: auto;
    width: 100%;
    max-width: $fp_imageMaxWidth + ($fp_frameWidth * 2);
    display: block;
  }
}

.fp_frame-tl {
  top: 0;
  left: 0;
  height: $fp_frameWidth;
  width: $fp_frameWidth;
  background-position: ($fp_frameWidth * -2  - 2) 0;
}
.fp_frame-tm {
  top: 0;
  left: $fp_frameWidth;
  right: $fp_frameWidth;
  height: $fp_frameWidth;  
}
.fp_frame-tr {
  top: 0;
  right: 0;
  height: $fp_frameWidth;
  width: $fp_frameWidth;  
  background-position: $fp_frameWidth * -3 0;
}
.fp_frame-mr {
  top: $fp_frameWidth;
  right: 0;
  bottom: $fp_frameWidth;
  width: $fp_frameWidth;  
  background-position: -$fp_frameWidth - 1 0;
}
.fp_frame-br {
  bottom: 0;
  right: 0;
  height: $fp_frameWidth;
  width: $fp_frameWidth;
  background-position: (-$fp_frameWidth * 3) (-$fp_frameWidth - 1);  
}
.fp_frame-bm {
  bottom: 0;
  left: $fp_frameWidth;
  right: $fp_frameWidth;
  height: $fp_frameWidth;
  background-position: 0 $fp_frameWidth + 2;
}
.fp_frame-bl {
  bottom: 0;
  left: 0;
  height: $fp_frameWidth;
  width: $fp_frameWidth;
  background-position: (-$fp_frameWidth * 2  - 2) (-$fp_frameWidth - 1);
}
.fp_frame-ml {
  top: $fp_frameWidth;
  bottom: $fp_frameWidth;
  left: 0;
  width: $fp_frameWidth;
  background-position: -1px 0;
}

.frame_none div {
  background: none;
}

/*! Set custom frame types */
.frame_cherry-wood {
  div {
    background-image:url(../img/framePreviewer/cherry-sides-corners.png);
  }

  .fp_frame-tm, .fp_frame-bm {
    background-image:url(../img/framePreviewer/cherry-tm-bm.png);
  }
}
